@tailwind base;
@tailwind components;
@tailwind utilities;

/* Not silme butonu için stiller */
.note-container {
  position: relative;
  width: fit-content;
}

.delete-note-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #e53935;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e53935;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 5;
}

.note-container:hover .delete-note-btn {
  opacity: 1;
}

.delete-note-btn:hover {
  background-color: #e53935;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
} 